.menu-topo, .menu-final{
    background-color:rgb(152, 240, 187); ;
    height: 10vh;
}
.Logo{
    width: 13vw;
    height: 7vh;
    margin-top: 10px;
    margin-left: 10px;
}
.Meio{
    height: 75vh;
}
.meio-cadastro{
    width: 97vw;
    height: 65vh;
    background-color: rgb(152, 240, 187);
    margin: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    

    align-content: center;
    
}
.titulo-cadastro, .titulo{
    text-align: center;
    margin: 0px;
   
}
.informacoes1, .informacoes2, .informacoes3, .espaco{
    background-color: pink;
    width: 27vw;
    height: 60vh;    
}
.espaco{
    background-color:  rgb(152, 240, 187);
    width: 8vw;
}