* {
    box-sizing: border-box;
}

.btn-success {
    background-color: #00FF12;
    color: black;
    font-weight: 700;
}

#root {
    background-color: #141414; 
}

:root {
    --verde-claro: rgb(152, 240, 187);
    --verde-escuro: rgb(0, 133, 13);
    --marrom-medio: rgb(210, 110, 78);
}